{% extends 'base.html' %}
{% load static %}

{% block title %}
    Reviews
{% endblock title %} 

{% block css %}
    {% static 'styles/reviews.css' %}
{% endblock css %} 

{% block content %}
    <section>
        <nav class="reviews__nav-main">
            <p><a href="{% url 'main-page' %}">Home </a></p>
            <p><a href="{% url 'add-review' %}">Write Your Comment</a></p>
        </nav>
    </section>

    <section>
        
        <form action="" method="GET">
            {% for a in reviews %}
             <div class="review__body">
                <a href="{% url "detail" a.slug %}">
                    <ul class="card m-3 review__body-list ">
                        <li><h3>{{a.name}}</h3></li>
                        <p>{{a.text}}</p>
                    </ul>
                </a>
            </div>  
            {% endfor %}
        </form> 
        
       
    </section>
  
{% endblock content %}