body{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}

.addreview__heading{
    margin-left: 7.5rem;
}

li{
    list-style: none;
}


.addreview__main-body{
    margin-left: 5rem;
    border: 1px solid rgb(143, 139, 139);
    width: 50%;
    box-shadow: 5px 5px 5px 5px gray;
}
