body{
   margin: 0;
   padding: 0;
   font-family: 'Roboto Condensed', sans-serif;
}

.reviews__nav-main{
    width: 100%;
    background-color: #007bff;
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    
}

.reviews__nav-main p a{
    color: white;
    padding-right: 20px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover,
a:active{
    text-decoration: none;
}
p{
    color: black;
}

.review__body-list:hover,
.review__body-list:active{
    background-color: #8B0000;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px gray;
} 

.review__body-list:hover h3,
.review__body-list:active h3{
   color: white;
   font-size: 3rem;
   font-weight: 600;
}

.review__body-list:hover p,
.review__body-list:active p{
   color: black;
   font-size: 2rem;
   font-weight: 900;
}