{% extends 'base.html' %}
{% load static %}

{% block title %}
    School
{% endblock title %}

{% block css %}
    {% static 'styles/main_page/main-page.css' %}
{% endblock css %}

{% block content %}

<section class="main-section">
    <div class="main__head-parent">
        <h1 class="display-4">ABC School</h1>
    </div> 
    <div>
        <nav class="main__logout-parent">
            <span class="logout-span"><a href="{% url 'logout' %}"> logout </a></span>
        </nav>
    </div>
    <div class="main__quotes-parent">
        <p class="main__quote">“Live as if you were to die tomorrow. Learn as if you were to live forever” – Mahatma Gandhi</p>
    </div>

    <div>
        <p class="main__instructions">in this site , you can add your student in our school , 
            also you can check reviews , then take a better decision </p>
    </div>
</section>

<section class="body-section">
    <div class="card" >
        <h1 ><a href="{% url 'students' %}">Students</a></h1>
        <ul>
            <li>Look at all Students Information</li>
            <li>Add Student</li>
            <li>Edit and remove Student Infotmation</li>
        </ul>
    </div>
    <div class="card">
        <h1><a href="{% url 'reviews' %}">Reviews</a></h1>
        <ul>
            <li>Look at the all Reviews and Rating </li>
            <li>Write Your comment and Rating</li>
        </ul>
    </div>
</section>

{% endblock content %}