{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
    Add Reviews 
{% endblock title %}

{% block css %}
    {% static 'styles/add-reviews.css' %}
{% endblock css %}

{% block content %}
    <section>
        <h1 class="addreview__heading" >Your Review:</h1>

        <form method="POST" class="addreview__main-body" >
            {% csrf_token %}   

            {% for a in form %}
                <div>
                    <ul class="form-group ">
                        <li class="addreview__label" >{{a.label}}</li>
                        <li class="addreview__input" >{{a}}</li>
                        <li class="addreview__errors" >{{a.errors}}</li>
                    </ul>
                </div>
            {% endfor %}

            <button class="btn btn-info ml-4 mb-1" type="submit" {% url 'reviews' %}> Save Your Review </button>
         </form>

    </section>
    
{% endblock content %}