{% extends 'base.html' %}
{% load static %}

{% block title %}
Student Information
{% endblock title %}

{% block css %} {% static 'styles/students-info.css' %} {% endblock css %}

{% block content %}

<section>
    <div class="info__nav-main">
        <p><a href="{% url 'main-page' %}">Home </a></p>
        <p><a href="{% url 'add-student' %}">Add Student</a></p>
    </div>
</section>

<section>
        <h1 class="info_table-head">Students List</h1>
        <table class="table table-stripped">
            <thead>
                <tr class="table_head-section">
                    <th scope="col">Name</th>
                    <th scope="col">DOB</th>
                    <th scope="col"> Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col"> City</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">Actions</th>
                 </tr>
            </thead>
          
            <tbody class="table table-striped">
                 {% for a in latest_post %}
                <tr>
                    <td>{{a.full_name}}</td>
                    <td>{{a.DOB}}</td>
                    <td>{{a.gender}}</td>
                    <td>{{a.full_address}}</td>
                    <td>{{a.city}}</td>
                    <td>{{a.zipcode}}</td>
                    <td><a href="{% url 'edit-student' a.slug %}">
                        <button class="btn btn-outline-primary">
                            <img class="btn_image-resize" src="https://img.icons8.com/material-outlined/24/000000/edit--v1.png"/>
                        </button></a>
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                                data-target="#exampleModal_{{a.id}}">
                            <img class="btn_image-resize" src="https://img.icons8.com/ios-glyphs/30/000000/delete-forever.png"/>
                        </button>
                    </td>
                </tr>
            </tbody>
           
            <!-- Modal -->
            <div class="modal fade" id="exampleModal_{{a.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Students</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you Want To Delete {{a.full_name }} student??
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form action="{% url 'delete-student' a.slug %}" method="post">
                                {% csrf_token %}
                            <button type="submit" class="btn btn-primary" >Delete</button></form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </table>

        <!-- Button trigger modal -->


</section>

<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})


</script>

{% endblock content %}